



.is-visible{
	visibility: visible;

}

.video-section .hidden{
	visibility: hidden;
	opacity: 0;
}

.modal-close a{
	
		background-image: url('/img/icon-x.png');
		background-repeat: no-repeat;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 15%;
		right: 13%;
		bottom: auto;
		left: auto;
		
		cursor: pointer;
	
}

.video-modal{
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	cursor: pointer;
	z-index: 10;

}

.video-modal-container{
	margin-top: -40px;
}

.vid-image-container{
	width: 513px;
	height: 305px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 20px;
	z-index: 3;




}


.video-container{

	width: 65%;
	margin: 0 auto;

}

.video-container .embed-container{
	position: relative;
	margin-top: 13%;
	padding-bottom: 59.5%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
#embed-video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}





@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Track.ttf);
}


a, a:hover{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	text-decoration: none;
}

body{
	background-color: #28292c;
}

.site-wrapper{
	box-shadow: none;
	display: block;
}

.site-wrapper-inner {
	background: rgba(38,44,50,.3);
	margin-bottom: 0;
	position: relative;
	text-align: center;
}

.parallax-window {
	width: 100%;
	min-height: 80%;
	background: transparent;
}



.trailer-splash{
	width: 100%;
	
	position: fixed;
	z-index: -10;
}




.blurred-img {
	opacity: 0;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

.gradient{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -10;
}



.play{
	width: 100px;
	margin-top: 90px;
	opacity: .8;
	margin-bottom: 90px;
	cursor: pointer;

}

.play:hover{
	opacity: 1;
}

.nav{
	background-color: rgba(38,44,50,.0);

}

.logo{
	width: 100%;
	font-family: myFirstFont;
	font-size: 20px;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 17px;
	margin-bottom: 0;
	opacity: .8;
}

.logo:hover{
	opacity: 1;
}

.movieTitle{
	
	
	width: 100%;
	font-size: 26px;
	text-transform: uppercase;
	font-family: myFirstFont;
	letter-spacing: 2px;
	margin-top: 0;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.film-info{
	background-color: #2e2f34;
	display: inline-block;

	

}



.details-container{
	
	
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.btn-buy{
	border: 1px solid #fff;
	box-shadow: none;
	height: 60px;
	margin-bottom: 15px;
	border-radius: 4px;
	text-align: center;
	transition: all 0.2s ease;
	display: block;

}

.btn-buy p{
	margin-top: 7px;
	display: inline-block;
}

.btn-buy img{
	display: inline-block;
	padding-right: 10px;
	height: 12px;
}

.btn-buy .amazon{
	height: 15px;
}

.btn-buy .apple{
	height: 15px;
	margin-top: -3px;
}

.btn-buy:hover, .btn-buy:focus{
	background-color: rgba(255,255,255,.15);
	border-color: rgba(255,255,255,1);
	color: #fff;
}


#rating{
	height: 12px;
	width: auto;
	padding-right: 20px;
	margin-bottom: 5px;
	margin-top: 3px;
}

#ratingText{
	font-size: 17px;
	color:#fff;
	margin-bottom: 15px;
	margin-top: 10px;
}

#genre, #duration, #cast{
	color: rgba(255,255,255,.7);
	font-size: 13px;
}

#cast{
	font-size: 14px;
}


#description{
	padding-top: 20px;
	padding-bottom: 20px;
}

.imgMovieContainer {
	position: inherit;

}

.movieRight{
	margin-left: 200px;
}

.where-to-watch{
	min-height: 500px;
	background-color: #28292c;
}

.where-to-watch h1{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 22px;
}




@media only screen and (max-width : 960px){
	.movieContainer{
		
		width: 90%;
		
	}
}

@media only screen and (max-width : 560px) {
	.movieContainer{
		
		width: 100%;
		
	}
}

