



.is-visible{
	visibility: visible;

}

.video-section .hidden{
	visibility: hidden;
	opacity: 0;
}

.modal-close a{
	
		background-image: url('/static/img/icon-x.png');
		background-repeat: no-repeat;
		height: 20px;
		width: 20px;
		position: absolute;
		top: 15%;
		right: 13%;
		bottom: auto;
		left: auto;
		
		cursor: pointer;
	
}

.video-modal{
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	cursor: pointer;
	z-index: 10;

}

.video-modal-container{
	margin-top: -40px;
}

.vid-image-container{
	width: 513px;
	height: 305px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 20px;
	z-index: 3;




}


.video-container{

	width: 65%;
	margin: 0 auto;

}

.video-container .embed-container{
	position: relative;
	margin-top: 13%;
	padding-bottom: 59.5%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
#embed-video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}





@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Track.ttf);
}


a, a:hover{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	text-decoration: none;
}

body{
	background-color: #28292c;
}

.site-wrapper{
	box-shadow: none;
	display: block;
}

.site-wrapper-inner {
	background: rgba(38,44,50,.3);
	margin-bottom: 0;
	height: 100%;
	position: fixed;
	text-align: center;
}

.parallax-window {
	width: 100%;
	min-height: 80%;
	background: transparent;
}



.trailer-splash{
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	
	z-index: -10;
}




.blurred-img {
	opacity: 0;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

.blur{
	
}

.gradient{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -10;
}



.play{
	width: 100px;
	margin:200px 0;
	opacity: .8;
	cursor: pointer;
			-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

.play:hover{
	opacity: 1;
		-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.nav{
	background-color: rgba(38,44,50,0);

}

.logo{
	width: 100%;
	font-family: myFirstFont;
	font-size: 20px;
	margin:0;
	padding:20px 0 17px 0;
	opacity: .8;
}

.logo:hover{
	opacity: 1;
}

.movieTitle{

	font-size: 22px;
	letter-spacing: 2px;
	margin:30px 0 0;
	font-family: myfirstfont;
	
}

.film-info{

	background: rgba(38,44,50,.8);
	display: inline-flex;
	z-index: 2;

}



.details-container{
	padding:80px 50px 40px;
}

.watch-container{
	padding:0 50px 60px;

	
}

.btn-buy{
	border: 1px solid #fff;
	box-shadow: none;
	height: 60px;
	margin-bottom: 15px;
	border-radius: 4px;
	text-align: center;
	opacity: .9;
	display: block;
				-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

.btn-buy p{
	margin-top: 7px;
	display: inline-block;
	font-weight: 400;
}

.btn-buy img{
	display: inline-block;
	padding-right: 10px;
	height: 12px;
}

.btn-buy .amazon{
	height: 15px;
}

.btn-buy .apple{
	height: 15px;
	margin-top: -3px;
}

.btn-buy:hover, .btn-buy:focus{
	background-color: rgba(255,255,255,.3);
	border-color: rgba(255,255,255,.3);

	color: #fff;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


#rating{
	height: 11px;
	width: auto;
	padding-right: 20px;
	margin-bottom: 5px;
	margin-top: 3px;
}

#ratingText{
	font-size: 15px;
	color:#fff;
	margin-bottom: 25px;
	margin-top: 5px;
}
#year{
	margin: 0;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 20px;
}

#genre, #duration, #cast, #year{
	color: rgba(255,255,255,.6);
	font-size: 13px;
	font-weight: 400;
}




#description{
	font-size: 15px;
	padding-bottom: 20px;
}

.imgMovieContainer {
	position: inherit;

}

.poster{
	margin-bottom: 15px;
}

.movieRight{
	margin-left: 200px;
}

.where-to-watch{
	  
    /*box-shadow: 0 2px 20px rgba(0,0,0,0.2);*/
    z-index: 1;
  /*background-color: #292A30;*/
  background: rgba(38,44,50,.8);
  min-height: 70%;
}

.where-to-watch-group{
	padding-bottom: 40px;
}

.where-to-watch h1{
	margin: 0;
	
	padding-bottom: 20px;
	font-size: 20px;
}



@media only screen and (max-width : 992px){

	#cast{
		margin-bottom: 15px;
	}

	.play{
		margin-top: 150px;
	margin-bottom: 150px;
	}
		
	.site-wrapper-inner{
			position: relative;
			height: auto;
		}
		

		.modal-close a{
			top:8%;
				right: 4%;
		}

		.video-container{

			width: 90%;
		}
		.video-modal{

			padding-top:10%;
		}

		.embed-container{
				margin-top: 25%;
			}	

	.movieContainer{
		
		width: 90%;
		
	}
	.trailer-splash{
		
	}
}

@media only screen and (max-width : 560px) {

	.poster{
		margin-bottom: 5px;
	}

	

	.details-container{
	
	
	padding-top: 45px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.watch-container{
	
	
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	
}
	

			.modal-close a{
				top: 5%;
				right: 5%;
		}

		.video-container{

			width: 95%;
		}
		.video-modal{

			padding-top:20%;
		}

		.embed-container{
				margin-top: 40%;
			}


	.movieContainer{
		
		width: 100%;
		
	}

	.trailer-splash{
		left: -90%;
	}

	.details-body{
		display: inline-block;
	}

	
}

