.site-wrapper-inner{
	background: rgba(38,44,50,.9);
	margin-bottom: 0;
}

.logo{
	width: 300px;
	padding-bottom: 10px;
	/*padding-top: 270px;*/
}

h1{
	font-size: 22px;
	font-weight: 200;

}



.cover{
	text-align: center;
}

.cover-container{
	height: 100vh;
	display: table;
}

.inner{
	
  
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#searchContainer{
	/*padding-bottom: 200px;*/
}

.btn-default, .btn-lg, .btn-default:focus{
	border-radius: 3px;
	border: #64ffeb;
	width: 200px;
	height: 60px;
	font-weight: 500!important;
	background: #ff3265;
	font-size: 16px;
	color: #fff;
	transition: all 0.2s ease;
}

.btn-default:hover, .btn-lg:hover{
	background:#ee315f;
	transition: all 0.2s ease;
	cursor: pointer;
	color: #fff;
}

.lead{
	display: inline-block;
}


.cover-heading{
	padding-bottom: 0px;
}


.form-control{
	width: 230px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 22px;
	padding-left: 10px;
	background: rgba(255,255,255,.6);
	color: #000;
	border: none;

}

#yearSelect{
	width: 180px;
}

.form-control:hover{
	background: rgba(255,255,255,.4);
}


.splash{
	top: -15%;
	/*top: -50%;*/
	left: -15%;
	overflow-x: hidden;
	position: fixed;
	z-index: -100;
	background: rgba(0,0,0,.5);
}

.mastfoot{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
}

body{
	background: #282c30;

}

.bottom{
	 background: rgba(39,40,44,.9);
	padding-top: 100px;
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media only screen and (max-width : 960px){
	.btn-default, .btn-lg, .btn-default:focus{
		width: 300px;

	}
}

@media only screen and (max-width : 560px) {
	.cover-container{
	height: 600px;

	}
	.cover-container p{
	margin-bottom: 5px;
	
	}
	.lead{
		width: 100%;
		padding-top: 40px;
	}
	.btn-default, .btn-lg, .btn-default:focus{
		width: 90%;

	}
	.logo{
		width: 80%;
	}
	#yearSelect{
		width: 230px;
	}
	.splash{
		height: 100%;
		width:auto;
		left: -80%;
	}
	.spinner{
		margin-bottom: 80px;
	}
	.bottom{
		padding-top: 0;
	}
	h1{
		font-size: 20px;
	}
	
}
