.logo{
	width: 400px;
	padding-bottom: 0px;
}


.btn-default, .btn-lg{
	border-radius: 5px;
	border: #64ffeb;
	width: 500px;
	height: 70px;
	font-weight: 500!important;
	padding-top: 20px;
}


.cover-heading{
	padding-bottom: 0px;
}


.form-control{
	width: 250px;
	height: 55px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 26px;
	padding-left: 10px;
	
}


.splash{
	width: 100%;
	overflow-x: hidden;
	position: fixed;
	z-index: -100;
	
}