#resultContainer{
	background: rgba(39,40,44,.9);

	width: 100%;
	padding-top: 60px;
	padding-bottom: 30px;

}

.movieContainer{
	background: #393a3e;
	min-height: 160px;
	border-radius:3px;
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	margin-bottom: 30px;
	
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.imgMovie{
	position: relative;
	width: 70px;
	height: 100px;
}

.imgMovieContainer{
	width: 70px;
	height:100px;	
	vertical-align: top;
	position: absolute;		
}



.movieRight{
	display: inline-block;
	margin-left: 100px;
	position: static;
}

#titleMovie{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.2;
	
}

.rank{
	right: 0;
	position: absolute;
}

#rating{
	
	display: inline-block;
	padding-right: 5px;
}

#ratingText{
	display: inline-block;
	font-size: 12px;
	
	padding-right: 20px;
	color: rgba(255,255,255,.5);

	
}

#duration{
	margin:0;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(255,255,255,.5);
	display: inline-block;
	  padding-right: 20px;
	
}

#genre{
	margin:0;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(255,255,255,.5);
	display: inline-block;
	
}

#description{
	font-size: 15px;
	padding-top: 0px;
	margin-top: 5px;
	line-height: 1.7;
	color: rgba(255,255,255,1);
	

}

#cast{
	font-size: 13px;
	color: rgba(255,255,255,.5);
	margin-bottom: 0;
	
}

p{
	font-weight: 200;
}

.loader {
  font-size: 10px;
  display: inline-block;
  z-index: -1;
  text-indent: -9999em;
  top:-60%;
  left: 33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #393a3e;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media only screen and (max-width : 560px) {
		.imgMovie{
			position: relative;
			width: 60px;
			height: 85px;
		}

		.imgMovieContainer{
			width: 60px;
			height: 85px;
			position: absolute;
		}

		.movieRight{
			margin-left: 0;
			  min-height: 100px;
		}

		.movieContainer{
			width: 90%;
		}

		#rating{
			width: 105px;
		}

		#ratingText{
			padding-right: 20px;
			font-size: 10px;
		}

		#genre{
			padding-left: 0;
			padding-right: 20px;
			font-size: 10px;
			  letter-spacing: 1px;
		}

		#duration{
			padding-right: 10px;
			font-size: 10px;
		}

		#titleMovie{
			font-size: 18px;
			
			padding-right: 22px;
		}

		#description{
			
		}

		.topInfo{
  			display: inline-block;
  			margin-left: 80px;
  			position: static;
		}

		p{
			font-weight: 300;
		}

		.loader{
			
  			left: 30%;
		}

	}

	@media only screen and (min-width : 1000px) {
		.movieContainer{
			 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
		}
	}

