#resultContainer{
	background: rgba(39,40,44,.9);
	
	width: 100%;
	padding-top: 60px;
	padding-bottom: 30px;

}

.movieContainer{
	background: #393a3e;
	border-radius:3px;
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	margin-bottom: 30px;
	 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#imgMovie{
	vertical-align: top;
	position: absolute;
}

.movieRight{
	display: inline-block;
	margin-left: 80px;
	position: static;
}

#titleMovie{
	font-size: 21px;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

#rating{
	width: 120px;
	display: inline-block;
	

	
}

#ratingText{
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
	color: rgba(255,255,255,.5);
	
	


}

#description{
	font-size: 16px;
	padding: 0;
	color: rgba(255,255,255,.9);
}

p{
	font-weight: 200;
}